<app-header></app-header>
<div class="container">
    <p class="privacy display-6">Privacy</p>
    <p class="privacy">Last updated: November 25, 2022</p>
    <p>Block Analytics ("us", "we", or "our") operates as a service.
        This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.
        We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.</p>
    
    <p class="display-6">Use of data</p>
    <p>Cryptoworth will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and
        enforce our legal agreements and policies.</p>
    <p>Block Analytics will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of our Service, or we are legally obligated to retain this data for longer time periods.</p>

    <a class="back" href="register">Go back</a>
</div>
