a.navbar-brand[b-d59tb7l7w9] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-d59tb7l7w9] {
    color: #0077cc;
}

.imgLogo[b-d59tb7l7w9] {
    border-radius: 50%;
}
