<div class="container">
    <p class="bold">Positions</p>
    <div class="row">
        <div class="col-2">
            <p>Name</p>
        </div>
        <div class="col-2">
            <p>Symbol</p>
        </div>
        <div class="col-2">
            <p>Balance</p>
        </div>
        <div class="col-2">
            <p>Coin Value</p>
        </div>
        <div class="col-2">
            <p>Total</p>
        </div>
        <div class="col-2">
            <p>24H Return</p>
        </div>
    </div>
    <hr class="line">
    <div class="row">
        <div class="col-2">
            <p>Ethereum</p>
        </div>
        <div class="col-2">
            <p>ETH</p>
        </div>
        <div class="col-2">
            <p>9.958,50</p>
        </div>
        <div class="col-2">
            <p>1.278,85 $</p>
        </div>
        <div class="col-2">
            <p>127.512,40 $</p>
        </div>
        <div class="col-2">
            <p class="return">5 %</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Cardano</p>
        </div>
        <div class="col-2">
            <p>ADA</p>
        </div>
        <div class="col-2">
            <p>270.500</p>
        </div>
        <div class="col-2">
            <p>0,31 $</p>
        </div>
        <div class="col-2">
            <p>83,700 $</p>
        </div>
        <div class="col-2">
            <p class="return">2 %</p>
        </div>
    </div>
</div>
