<div class="container m-3">
    <p class="bold">Positions</p>
    <div class="row">
        <div class="col-2">
            <p>Name</p>
        </div>
        <div class="col-2">
            <p>Symbol</p>
        </div>
        <div class="col-2">
            <p>Balance</p>
        </div>
        <div class="col-2">
            <p>Coin Value</p>
        </div>
        <div class="col-2">
            <p>Total</p>
        </div>
        <div class="col-2">
            <p>24H Return</p>
        </div>
    </div>
    <hr class="line">
    <div *ngFor="let d of data">
            <div class="row mt-3">
                <div class="col-2">
                    {{d.name}}
                </div>
                <div class="col-2">
                    {{d.symbol}}
                </div>
                <div class="col-2">
                    {{d.balance}} {{d.symbol}}
                </div>
                <div class="col-2">
                    {{d.coin_value}} $
                </div>
                <div class="col-2">
                    {{d.total}} $
                </div>
                <div *ngIf="d.return24h > 0" class="col-2 positive">
                    {{d.return24h}} %
                </div>
                <div *ngIf="d.return24h < 0" class="col-2 negative">
                    {{d.return24h}} %
                </div>
            </div>
        </div>
    </div>
