.container[b-ry1z18flih] {
    margin-top: 6rem;
}

.buttonDiv[b-ry1z18flih] {
    margin-left: 34%;
    margin-right: 34%;
    max-height: 100%;
}

.btn[b-ry1z18flih] {
    background-color: #6699cc;
}
