.container[b-oknhlejt7b] {
    margin-top: 6rem;
}

.buttonDiv[b-oknhlejt7b] {
    margin-left: 34%;
    margin-right: 34%;
    max-height: 100%;
}

.btn[b-oknhlejt7b] {
    background-color: #6699cc;
}
