<div class="modal-header">
    <h5 class="modal-title">Transaction Details</h5>
        <span aria-hidden="true">&times;</span>
</div>
<div class="modal-body">
    <div class="mb-3"><p class="text">Transaction Hash:</p> {{ fromParent.tx }}</div>
    <div class="mb-3"><p class="text">Status:</p> {{ fromParent.stats }}</div>
    <div class="mb-3"><p class="text">Block:</p> {{ fromParent.block }}</div>
    <div class="mb-3"><p class="text">Date:</p> {{ fromParent.date }}</div>
    <div class="mb-3"><p class="text">From:</p> {{ fromParent.in }}</div>
    <div class="mb-3"><p class="text">To:</p> {{ fromParent.out }}</div>
    <div class="mb-3"><p class="text">Value:</p> {{ fromParent.ammount }}</div>
    <div class="mb-3"><p class="text">Fee:</p> {{ fromParent.fee }}</div>

</div>
<div class="modal-footer">
</div>