<app-header></app-header>

<div class="container">
        <div class="image">
            <img src="../../../../assets/img/wallets-icons/cardano-logo.png" alt="" width="158" height="39">
        </div>
        
        <div class="textLanding mt-2">
            <form>
                Enter a wallet name <br>
                <input type="text" required name="walletName" class="form-control" placeholder="Wallet Name">
                <p style="font-size:80%;color:grey">Give a name to your wallet. This will help you identify and better
                    manage your wallets. </p>
            </form>
        </div>
        <div class="textLanding mt-2">
            <form>
                Enter the wallet address <br>
                <input type="text" required name="walletAddress" class="form-control" placeholder="Wallet Address">
            </form>
        </div>

        <div class="buttonDiv d-grid mt-4">
            <button type="button" class="btn btn-primary" (click)="connectComplete()">Connect</button>
        </div>
        <div class="buttonDiv d-grid mt-4">
            <button type="button" class="btn btn-outline-secondary" (click)="goBack()">Go Back</button>
        </div>
    </div>

    