/* _content/Backend/Views/AuthBackend/Index.cshtml.rz.scp.css */
.container[b-ry1z18flih] {
    margin-top: 6rem;
}

.buttonDiv[b-ry1z18flih] {
    margin-left: 34%;
    margin-right: 34%;
    max-height: 100%;
}

.btn[b-ry1z18flih] {
    background-color: #6699cc;
}
/* _content/Backend/Views/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-d59tb7l7w9] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-d59tb7l7w9] {
    color: #0077cc;
}

.imgLogo[b-d59tb7l7w9] {
    border-radius: 50%;
}
