<app-header></app-header>
<div class="row">
    <div class="col-lg-3"></div>
    <input type="text" [(ngModel)]="search" #searchControl="ngModel" class="input-group-text text-center col-lg-6" placeholder="Search for ticker">
</div>

<div class="container p-2 my-2 mt-2">
    <div class="row">
        <div class="col-lg-2 text-center">
            Ranking
        </div>
        <div class="col-lg-3 text-center">
            Coin
        </div>
        <div class="col-lg-2 text-center">
            Price
        </div>
        <div class="col-lg-3 text-center">
            24H Return
        </div>
    </div>
</div>

<div *ngFor="let price of prices | filterpipe:search">
    <div class="container p-2 my-2">
        <div class="row">
            <div class="col-lg-2 text-center">
                {{price.market_cap_rank}}  
            </div>
            <div class="col-lg-3 text-center">
                {{price.name}}
                <img src="{{price.image}}" alt="" height="20">
            </div>
            <div class="col-lg-2 text-center">
                {{price.current_price}} $
            </div>
            <div *ngIf="price.price_change_percentage_24h > 0" class="col-lg-3 text-center positive">
                {{price.price_change_percentage_24h}} %
            </div>
            <div *ngIf="price.price_change_percentage_24h < 0" class="col-lg-3 text-center negative">
                {{price.price_change_percentage_24h}} %
            </div>
            <div class="col-lg-2 text-center">
                <button (click)="openDetails(price)" class="btn btn-outline-success btn-sm">Detailed Info</button>
            </div>
        </div>
    </div>
</div>