<app-header></app-header>
<section class="py-5 my-5">
    <div class="container">
        <h1 class="mb-5">Profile</h1>
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <div class="profilepic">
                        <div class="img-circle text-center mb-3">
                            <input id="file" type="file" />
                            <img class="profilepic__image" src="../../../../assets/img/header/user.png" id="photo"
                                class="shadow" />
                        </div>
                    </div>
                    <h4 class="text-center">Joao Alberto</h4>
                </div>
                <!-- Nav tabs -->
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#taxReport">Tax Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#loginHistory">Login History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#wallet">Wallet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#contacts">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#rules">Rules</a>
                    </li>
                </div>
            </div>

            <!-- Tab panes -->
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div class="tab-pane container active" id="profile" role="tabpanel" aria-labelledby="account-tab">
                    <div class="header-table">
                        <h3 class="mb-2">Profile</h3>
                        <h6 class="mb-4">Account Details</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" value={{profile.firstName}} disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label></label>
                                <input type="text" class="form-control" value={{profile.lastName}} disabled>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" value={{profile.email}} disabled>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Phone number</label>
                                <input type="text" class="form-control" value={{profile.phoneNumber}} disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container fade" id="taxReport">
                    <div style="max-width: 100%">
                        <button type="button" class="btnNewRule" (click)="buttonNewRule()" >New Rule</button>
                        <h3>Tax Report</h3>
                        <div ngbDropdown class="d-inline-block dropdowTypes">
                            <button type="button" class="nav-link btn shadow-none btn-outline-primary p-2" id="dropdownBasic2" ngbDropdownToggle>Year</button>
                            <div class="list-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                <button ngbDropdownItem class="item-dropdown" *ngFor="let item of year">{{item}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="row">
                                        <div>
                                            <p class="nameTax h4">Property Gains</p>
                                            <p class="moneyTax h4">{{propeatyGainsMoney}}</p>
                                        </div>
                                    </div>
                                    <p style="margin-top: 20px; margin-bottom: 0px;">
                                        <strong>Taxable:</strong></p>
                                    <div class="col taxdivlabels" *ngFor="let propeaty of propeatyGains">
                                        <p class="btnTax">{{propeaty}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="row">
                                        <div>
                                            <p class="nameTax h4">Income Gains</p>
                                            <p class="moneyTax h4">{{incomeGainsMoney}}</p>
                                        </div>
                                    </div>
                                    <p style="margin-top: 20px; margin-bottom: 0px;"><strong>Taxable:</strong></p>
                                    <div class="col taxdivlabels" *ngFor="let income of incomeGains">
                                        <p class="btnTax">{{income}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="row">
                                        <div>
                                            <p class="nameTax h4">General Deductions</p>
                                            <p class="moneyTax h4">{{generalDeductionsMoney}}</p>
                                        </div>
                                    </div>
                                    <p style="margin-top: 20px; margin-bottom: 0px;"><strong>Taxable:</strong></p>
                                    <div class="col taxdivlabels" *ngFor="let general of generalDeductions">
                                        <p class="btnTax">{{general}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="row">
                                        <div>
                                            <p class="nameTax h4">Non-Taxable Gains</p>
                                            <p class="moneyTax h4">{{nonTaxableGainsMoney}}</p>
                                        </div>
                                    </div>
                                    <p style="margin-top: 20px; margin-bottom: 0px;"><strong>Taxable:</strong></p>
                                    <div class="col taxdivlabels" *ngFor="let nonTaxable of nonTaxableGains">
                                        <p class="btnTax">{{nonTaxable}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btnNewRule mt-3" (click)="buttonExport()" >Export PDF</button>
                </div>
                <div class="tab-pane container fade" id="loginHistory">
                    <h3 class="mb-4">Login History</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Browser</th>
                                <th scope="col">IP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let log of login | slice: (page-1) * pageSizeLogins : page * pageSizeLogins">
                                <th scope="row">{{ log.date }}</th>
                                <th scope="row">{{ log.browser }}</th>
                                <th scope="row">{{ log.ip }}</th>                    
                            </tr>
                        </tbody>
                    </table>
                    <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSizeLogins"
  [collectionSize]="login.length"></ngb-pagination>
                </div>
                <div class="tab-pane container fade" id="wallet">
                    <h3 class="mb-4">Wallet</h3>
                    <div class="row ">

                        <div class="row">
                            <div class="col-3 mb-3 searchBar">
                                <input type="text" [(ngModel)]="search" #searchControl="ngModel"
                                    class="input-group-text text-center col-lg-12" placeholder="Search wallet">
                            </div>
                            <div class="col-5 mb-5">
                                <input type="number" min=0 [(ngModel)]="pageSize" #searchControl="ngModel"
                                    class="input-group-text text-center col-lg-3" placeholder="Choose Page Size">
                            </div>

                            <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                [collectionSize]="wallets.length"></ngb-pagination>
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Connection</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">Address</th>
                                    <th class="center" scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let wallet of wallets | slice: (page-1) * pageSize : page * pageSize | wallet:search">
                                    <td scope="row" *ngIf="wallet.type == 'car'">
                                        <img src="../../../../assets/img/wallets-icons/cardano_icon.png" height="15"
                                            alt="">&nbsp; {{ wallet.connection }}
                                    </td>
                                    <td scope="row" *ngIf="wallet.type == 'eth'">
                                        <img src="../../../../assets/img/wallets-icons/ethereum_icon.png" height="15"
                                            alt=""> &nbsp;{{ wallet.connection }}
                                    </td>
                                    <td scope="row" *ngIf="wallet.type == 'meta'">
                                        <img src="../../../../assets/img/wallets-icons/metamask_icon.png" height="14"
                                            alt="">&nbsp; {{ wallet.connection }}
                                    </td>
                                    <td scope="row" *ngIf="wallet.type == 'coinbase'">
                                        <img src="../../../../assets/img/wallets-icons/coinbase_icon.png" height="15"
                                            alt="">&nbsp; {{ wallet.connection }}
                                    </td>

                                    <td scope="row">{{ wallet.value }}</td>
                                    <td><a class="source" href="wallet.address" target="_blank">{{wallet.address }}</a>
                                    </td>

                                    <td class="center">
                                        <button type=button class="buttondel"
                                            (click)="clickMethod(wallet.connection)"><i
                                                class="material-icons">&#xe92b;</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane container fade" id="contacts">
                    <h3 class="mb-4">Contacts</h3>
                    <div class="row ">
                        <div class="row">
                            <div class="col-3 mb-3 searchBar">
                                <input type="text" [(ngModel)]="searchContact" #searchControl="ngModel"
                                    class="input-group-text text-center col-lg-12" placeholder="Search wallet">
                            </div>
                            </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Address</th>
                                    <th class="center" scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let contact of contacts | slice: (page-1) * pageSizeLogins : page * pageSizeLogins | contactsPipe:searchContact">
                                    <td scope="row">{{ contact.name }}</td>
                                    <td scope="row">{{ contact.address }}</td>
                                    <td class="center">
                                        <button style="margin-right: 20px;" type=button (click)="open(contentContact)" class="buttondel"><i
                                                class="material-icons">&#xe150;</i></button>
                                        <button type=button class="buttondel" (click)="clickMethod(contact.name)"><i
                                                class="material-icons">&#xe92b;</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination
                        [(page)]="page"
                        [pageSize]="pageSizeLogins"
                        [collectionSize]="login.length"></ngb-pagination>
                    </div>
                </div>
                <div class="tab-pane container fade" id="rules">
                    <h3 class="mb-4">Your Tax Rules</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Criteria</th>
                                <th scope="col">Behaviour</th>
                                <th scope="col">Tax</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rule of rules | slice: (page-1) * pageSizeLogins : page * pageSizeLogins">
                                <th scope="row">{{ rule.name }}</th>
                                <th scope="row">{{ rule.criteria }}</th>
                                <th scope="row">{{ rule.behaviour }}</th>  
                                <th scope="row">{{ rule.tax }}</th> 
                                <td class="center">
                                    <button style="margin-right: 20px;" type=button (click)="open(content)" class="buttondel"><i
                                            class="material-icons">&#xe150;</i></button>
                                    <button type=button (click)="deleteRule(rule.name)" class="buttondel" ><i
                                            class="material-icons">&#xe92b;</i></button>
                                </td>                                    
                            </tr>
                        </tbody>
                    </table>
                    <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSizeLogins"
  [collectionSize]="login.length"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Edit Rule</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
        <input type="text" [(ngModel)]="name" #nameControl="ngModel" class="input-group-text text-center col-lg-12" placeholder="Rule Name">
        <input type="text" [(ngModel)]="description" #addressControl="ngModel" class="input-group-text text-center col-lg-12 mt-3" placeholder="Rule Description">
        <input type="text" [(ngModel)]="criteria" #addressControl="ngModel" class="input-group-text text-center col-lg-12 mt-3" placeholder="Rule Criteria">
        <input type="text" [(ngModel)]="behaviour" #addressControl="ngModel" class="input-group-text text-center col-lg-12 mt-3" placeholder="Behaviour">
        <input type="text" [(ngModel)]="taxRule" #addressControl="ngModel" class="input-group-text text-center col-lg-12 mt-3" placeholder="Tax Rule">
    </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>

<ng-template #contentContact let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Edit Rule</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
        <input type="text" [(ngModel)]="walletName" #walletNameControl="ngModel" class="input-group-text text-center col-lg-12" placeholder="Wallet Name">
    </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>
