@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}

.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 3px solid #fff;
	margin-top: -1.9rem;
}

.container {
	margin-top: -5rem;
}

.tab-content>.active {
	margin-top: -1rem;
}


.profilepic {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	background-color: #111;
	margin-left: 3rem;
	margin-bottom: 1rem;
}

.profilepic:hover .profilepic__content {
	opacity: 1;
}

.profilepic:hover .profilepic__image {
	opacity: .5;
}

.profilepic__image {
	object-fit: cover;
	opacity: 1;
	transition: opacity .2s ease-in-out;
}

.profilepic__content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	opacity: 0;
	transition: opacity .2s ease-in-out;
}

.profilepic__icon {
	color: white;
	padding-bottom: 8px;
}

.fas {
	font-size: 20px;
}

.profilepic__text {
	text-transform: uppercase;
	font-size: 12px;
	width: 50%;
	text-align: center;
}

.center{
	text-align: center;
	
}

.icon {
    
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}


.delete {
	font-family: "Material Icons";
    content: "\e92b";
	height: 20px;
    width: 20px;
}

.buttondel {
	padding: 0;
border: none;
background: none;
}