.imgLogo{
    border-radius: 50%;
}

.fullStackString{
    text-decoration: none;
    display: inline-block;
    color: grey;
}

.btn:hover {
    transform: scale(1.2);
}

.item-dropdown{
    border-radius: 15px;
    margin-top: 5px;
}

.list-dropdown{
    padding: 5px 5px;
    width: 205px;
}

.item-dropdown:active{
    background-color: gray;
}
