@model Backend.Models.UpdateUser
@{
    ViewData["Title"] = "Edit User";
}

<div class="text-center">
    <h1>Edit Employee</h1>
    <form method="post" action="Edit" class="mt-5">
        <div class="row">
            <div class="col-md-12 mt-3">
                <label for="" class="form-label">Id</label>
                <input type="text" class="form-control" asp-for="UserId" readonly>
            </div>
            <div class="col-md-12 mt-3">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" asp-for="FirstName">
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" asp-for="LastName">
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" asp-for="Email">
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="tel" class="form-control" pattern="[9]{1}[0-9]{8}" asp-for="PhoneNumber">
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="form-group ">
                    <select asp-for="UserRole" class="col-md-12 mt-4 p-2">
                        <option selected disabled hidden>@Model.UserRole</option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="buttons mt-4">
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-primary text-decoration-none" href="Users">Cancel</a>
        </div>
    </form>
</div>