<app-header></app-header>
<div class="container-fluid">
    <div class="container">
        <div class="textLanding mt-4">
            <p class="display-3">Crypto all in one</p>
        <div class="secText">
            <p class="sec lead mt-4">Connect your wallets, exchanges and track your portfolio all in one place</p>
        </div>
        <div class="little check">
                <p class="paragraph lead"><a class="m-3"><img src="../../../../assets/img/landing page/check.png" alt="" height="15"></a> Crypto Accounting and Tax</p>
                <p class="paragraph lead"><a class="m-3"><img src="../../../../assets/img/landing page/check.png" alt="" height="15"></a> Multiple Connections Streams</p>
                <p class="paragraph lead"><a class="m-3"><img src="../../../../assets/img/landing page/check.png" alt="" height="15"></a> Real Time Visibility</p>
        </div>
    </div>
    <div class="image">
        <img class="img1" src="../../../../assets/img/landing page/landing-image.png" alt="" height="500">
    </div>
</div>
</div>